.calculator{
    width: 300px;
    height: 400px;
    border: 5px solid rgb(0, 0, 0);
    background-color: #f8f1f1;
    border-radius: 25px;
    padding: 10px;
    margin-left: 500px;
    margin-top: 100px;
    justify-content: center;
}

.calculator-display{
    display: flex;
    justify-content: end;
    width: 268px;
    height: 50px;
    border: 5px solid rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 500px;
    margin-top: 8px;
}

button{
    border: none;
}

.calculator-buttons{
    display: grid;
    gap: 10px;
    width: 250px;
    height: 250px;
    font-weight: bolder;
    padding-left: 30px;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
    cursor: pointer;
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: rgb(13, 206, 87);
  }

.clear-sign{
    background: rgb(240, 28, 28);
    font-weight: 5%;
    font-size: x-large;
}

.operator{
    background-color: grey;
    color: beige;
    font-size: x-large;
    border-radius: 100%;
    border-radius: none;
    
}

.value{
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    font-size: x-large;
    border-radius: 10%;
    border-radius: none;
}

button:hover {
    filter: brightness(110%);
  }
  
  button:active {
    transform: translateY(1px);
  }
  
  button:focus {
    outline: none;
  }
